# node
node_modules
.npm
.output
dist

# convex
.env.local
.env.development.local
.env.test.local
.env.production.local

# tanstack router
src/routeTree.gen.ts

# ide
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# os
.DS_Store
Thumbs.db
